@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  background-color: var(--primary-font-color);
  color: var(--primary-light-bg-color);
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-fit: top center;
}

:root {
  --primary-light-font-color: #c3073f;
  --primary-light-bg-color: #696b79;
  --primary-light-border-color: #950740;

  --primary-font-color: #fff;
  --primary-dark-bg-color: #1a1a1d;
  --primary-light-border-color: #6f2232;
}

.no-bg {
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-box {
  display: flex;
  flex-flow: row wrap;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem 4rem;
}

#nav-section {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

#nav-section-mobile, #mobile-section {
  display: none;
}

#logo {
  text-align: center;
}

#logo div {
  color: #1a1a1d;
  margin-top: 5px;
  font-weight: bolder;
  font-family: sans-serif;
}

#nav-links {
  flex-grow: 1;
  margin: auto 5rem;
}

#nav-links button {
  color: var(--primary-light-bg-color);
  font-size: 1rem;
  margin-right: 1rem;
}

#social-links {
  align-items: flex-end;
  margin: auto 0;
}

#social-links button {
  font-size: 1.2rem;
  color: #4e4e50;
  margin-right: 1rem;
}

#social-links button:hover,
#nav-links button:hover {
  color: var(--primary-light-font-color);
}

#grid-box {
  margin-top: 3rem;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  row-gap: 10rem;
  column-gap: 2rem;
}

.large-text {
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 400;
}

.small-text {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 100;
}

#short-description {
  font-size: 3rem;
  font-weight: 900;
}

#long-description {
  margin-top: 1rem;
}

#btn-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: flex-start;
  gap: 2rem;
}

.installation-btn {
  color: var(--primary-light-font-color);
  border: var(--primary-light-font-color) 1px solid;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.no-bg.installation-btn:hover {
  background-color: #ac0839;
  color: var(--primary-font-color);
  border-radius: 10px;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.documentation-btn {
  color: var(--primary-font-color);
  background-color: var(--primary-light-font-color);
  border-radius: 10px;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.no-bg.documentation-btn:hover {
  background-color: #ac0839;
  color: var(--primary-font-color);
  border-radius: 10px;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

iframe {
  border: var(--primary-light-font-color) 1px solid;
  width: 100%;
  min-height: 300px;
}
