@import "../design-guide.css";

.responsive-img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 50%;
}

.round-img {
    border-radius: 50%;
}