@import "../design-guide.css";

.no-bg {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-solid-primary {
  border: none;
  text-decoration: none;
  background-color: var(--btn-color-primary);
  padding: 0.5rem 1rem;
  color: var(--color-white);
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem;
}

.btn-outline-primary {
  text-decoration: none;
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border: var(--btn-color-primary) 1px solid;
  color: var(--btn-color-primary);
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem;
}

.btn-text-primary.no-bg {
  text-decoration: underline;
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border: none;
  color: var(--btn-color-primary);
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem;
}

.no-bg.btn-icon {
  cursor: pointer;
  margin: 1rem 1rem;
}

.no-bg.btn-icon svg {
  width: 2rem;
  height: 2rem;
  fill: var(--btn-color-primary);
}

.no-bg.btn-icon-text-outline {
  cursor: pointer;
  margin: 1rem 1rem;
  text-decoration: none;
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border: var(--btn-color-primary) 1px solid;
  color: var(--btn-color-primary);
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem;
}

.no-bg.btn-icon-text-outline svg {
  margin-right: 0.3rem;
  width: 1rem;
  height: 1rem;
  fill: var(--btn-color-primary);
}

.no-bg.btn-icon-text-primary {
  border: none;
  text-decoration: none;
  background-color: var(--btn-color-primary);
  padding: 0.5rem 1rem;
  color: var(--color-white);
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem;
}

.no-bg.btn-icon-text-primary svg {
  margin-right: 0.3rem;
  width: 1rem;
  height: 1rem;
  fill: var(--color-white);
}

.btn-solid-secondary {
  border: none;
  text-decoration: none;
  background-color: var(--btn-color-secondary);
  padding: 0.5rem 1rem;
  color: var(--btn-color-secondary-text);
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem;
}

.btn-outline-secondary {
  text-decoration: none;
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border: var(--btn-color-secondary-text) 1px solid;
  color: var(--btn-color-secondary-text);
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem;
}

.btn-text-secondary.no-bg {
  text-decoration: underline;
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border: none;
  color: var(--btn-color-secondary-text);
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem;
}

.no-bg.btn-icon-secondary {
  cursor: pointer;
  margin: 1rem 1rem;
}

.no-bg.btn-icon-secondary svg {
  width: 2rem;
  height: 2rem;
  fill: var(--btn-color-secondary-text);
}

.no-bg.btn-icon-text-secondary {
  cursor: pointer;
  margin: 1rem 1rem;
  text-decoration: none;
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border: var(--btn-color-secondary-text) 1px solid;
  color: var(--btn-color-secondary-text);
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem;
}

.no-bg.btn-icon-text-secondary svg {
  margin-right: 0.3rem;
  width: 1rem;
  height: 1rem;
  fill: var(--btn-color-secondary-text);
}

.no-bg.btn-icon-text-outline-secondary {
  border: none;
  text-decoration: none;
  background-color: var(--btn-color-secondary-text);
  padding: 0.5rem 1rem;
  color: var(--color-white);
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem;
}

.no-bg.btn-icon-text-outline-secondary svg {
  margin-right: 0.3rem;
  width: 1rem;
  height: 1rem;
  fill: var(--color-white);
}

.btn-disabled {
  opacity: 0.5;
}

.btn-size-lg {
  font-size: 1.1rem;
}

.btn-size-md {
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
}

.btn-size-sm {
  font-size: 0.6rem;
  padding: 0.5rem 0.8rem;
}

.btn-solid-floating svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--color-white);
}

.btn-solid-floating {
    border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: var(--btn-color-primary);
  padding: 0.7rem;
  border-radius: 50%;
}

.switch {
  margin: 1rem 1rem 1rem 0.8rem;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-color-disabled-toggle);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--btn-color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--btn-color-primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
