@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap";

/* Root settings */
:root {
  --primary-light-font-color: #c3073f;
  --primary-light-bg-color: #696b79;
  --primary-light-border-color: #950740;

  --primary-font-color: #fff;
  --primary-dark-bg-color: #1a1a1d;
  --primary-light-border-color: #6f2232;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--primary-font-color);
  color: var(--primary-light-bg-color);
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-fit: top center;
}
/* End of Root settings */

/* Button Settings */
.no-bg {
  background: transparent;
  border: none;
  cursor: pointer;
}
/* End of Button Settings */

/* Navigation Bar  */
.nav-box {
  display: flex;
  flex-flow: row wrap;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem 4rem;
  z-index: 100;
  width: 100%;
}

#nav-section {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

/* Mobile section of Navigation bar */
#nav-section-mobile,
#mobile-section {
  display: none;
}
/* End Mobile section of Navigation bar */

#logo {
  text-align: center;
}

#logo div {
  color: #1a1a1d;
  margin-top: 5px;
  font-weight: bolder;
  font-family: sans-serif;
}

#nav-links {
  flex-grow: 1;
  margin: auto 5rem;
}

#nav-links button {
  color: var(--primary-light-bg-color);
  font-size: 1rem;
  margin-right: 1rem;
}

#social-links {
  align-items: flex-end;
  margin: auto 0;
}

#social-links button {
  font-size: 1.2rem;
  color: #4e4e50;
  margin-right: 1rem;
}

#social-links button:hover,
#nav-links button:hover {
  color: var(--primary-light-font-color);
}
/* End of Navigation bar */

/* Side layout for Components List */
#side-container {
  height: 500vh;
  position: absolute;
  width: 18%;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#opening-bar {
  position: sticky;
  top: 0;
  left: 0;
}

#opening-bar .down-arrow {
  display: none;
}

#side-container ul {
  padding: 0;
}

#side-container li {
  list-style: none;
  text-align: start;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  padding-left: 2rem;
  cursor: pointer;
}

#side-container h2 {
  padding: 0.8rem 2rem;
  cursor: default;
  font-size: 1.3rem;
  color: #4e4e50;
  font-weight: 500;
}
/* End of Side layout for Components List */

/* Fixed button at the end for Scroll to Top */
#scroll-btn {
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1rem 1.25rem;
  color: var(--primary-font-color);
  background-color: #c3073f;
  border-radius: 3rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}
/* End of Fixed button at the end for Scroll to Top */

/* Documentation layout for all Components */
#inner-code {
  width: 82%;
  position: absolute;
  top: 5.5rem;
  left: 18%;
}

#inner-code h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 1rem 2rem;
  color: rgb(62, 65, 82);
}

#inner-code h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 1rem 2rem;
  color: rgb(62, 65, 82);
}

#inner-code h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 2rem;
  color: rgb(62, 65, 82);
}

#inner-code h5 {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 1rem 2rem;
  color: rgb(62, 65, 82);
  word-wrap: break-word;
}

/* Alert Section Design */
.alert-section {
  border-bottom: #1a1a1d 5px solid;
  padding-bottom: 3rem;
}

.example-box {
  margin: 1.5rem 2.5rem;
  padding: 0.5rem;
  border: #e6e6e6 2px solid;
  display: flex;
  flex-flow: column wrap;
}

.code-example {
  max-width: 100%;
  max-height: 800px;
  margin: 1rem 4rem;
  margin-bottom: 4rem;
}
/* End of Alert Section Design */

/* Avatar Section Design */
.example-box .avatar {
  display: inline;
}

.example-box.no-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end;
}

.div.example-box:nth-child(6) {
  display: flex;
  flex-flow: row wrap;
}
/* End of Avatar Section Design */

/* Input section design */

/* End of Input section design */
