@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  background-color: var(--primary-font-color);
  color: var(--primary-light-bg-color);
}

:root {
  --primary-light-font-color: #c3073f;
  --primary-light-bg-color: #696b79;
  --primary-light-border-color: #950740;

  --primary-font-color: #fff;
  --primary-dark-bg-color: #1a1a1d;
  --primary-light-border-color: #6f2232;
}

.no-bg {
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-box {
  display: flex;
  flex-flow: row wrap;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem 2rem;
}

#nav-section {
  display: none;
}

#nav-section-mobile {
  flex-grow: 1;
}

#burger div {
  height: 0.125rem;
  width: 1.5rem;
  margin: 0.313rem;
  background-color: #696b79;
}

button#burger {
  cursor: pointer;
}

#mobile-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50%;
  z-index: 3;
  border: var(--primary-light-font-color) 1px solid;
  background-color: var(--primary-font-color);
}

#mobile-section li {
  list-style: none;
}

#mobile-section ul {
  padding: 0;
}

.logo-top {
  padding: 1.5rem;
  background-color: #3f3947;
}

#logo-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

#logo {
  text-align: start;
  flex-grow: 1;
}

#logo div {
  color: #fff;
  margin-top: 5px;
  font-weight: bolder;
  font-family: sans-serif;
}

.cancel-btn {
  font-size: 1.5rem;
  color: var(--primary-font-color);
}

.nav-link-box {
  padding: 1rem 1rem;
  cursor: pointer;
}

.nav-link-box:hover {
  color: var(--primary-light-font-color);
  padding: 1rem 1rem;
  cursor: pointer;
}

#nav-links {
  flex-grow: 1;
  margin: auto 5rem;
}

#nav-links button {
  color: var(--primary-light-bg-color);
  font-size: 1rem;
  margin-right: 1rem;
}

#social-links {
  align-items: flex-end;
  margin: auto 0;
}

#social-links button {
  font-size: 1.2rem;
  color: #4e4e50;
  margin-right: 1rem;
}

#social-links button:hover,
#nav-links button:hover {
  color: var(--primary-light-font-color);
}

#side-container {
  width: 100%;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: sticky;
  top: 0;
  background-color: #e6e6e6;
}

#opening-bar {
  display: flex;
  flex-flow: row wrap;
}

#side-container h2 {
  padding: 1.1rem 2rem;
  cursor: default;
  font-size: 1.3rem;
  color: #4e4e50;
  flex-grow: 1;
  font-weight: 500;
}

#opening-bar .down-arrow {
  margin-right: 2rem;
  font-size: 1.6rem;
}

.upside-btn {
  margin-right: 2rem;
  font-size: 1.6rem;
  transition: 0.2s cubic-bezier(0.775, 0.07, 0.575, 0.995);
  transform: rotateX(180deg);
}

.downside-btn {
  margin-right: 2rem;
  font-size: 1.6rem;
  transition: 0.2s cubic-bezier(0.775, 0.07, 0.575, 0.995);
  transform: rotateX(360deg);
}

#side-container ul {
  width: 100%;
  height: 100vh;
  display: none;
}

#side-container ul {
  padding: 0;
}

#side-container li {
  list-style: none;
  text-align: start;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  padding-left: 2rem;
  cursor: pointer;
}

/* Fixed button at the end for Scroll to Top */
#scroll-btn {
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1rem 1.25rem;
  color: var(--primary-font-color);
  background-color: #c3073f;
  border-radius: 3rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}
/* End of Fixed button at the end for Scroll to Top */

/* Documentation layout for all Components */
#inner-code h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 1rem 2rem;
  color: rgb(62, 65, 82);
}

#inner-code h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 1rem 2rem;
  color: rgb(62, 65, 82);
}

#inner-code h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 2rem;
  color: rgb(62, 65, 82);
}

#inner-code h5 {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 1rem 2rem;
  color: rgb(62, 65, 82);
  word-wrap: break-word;
}

/* Alert Section Design */
.alert-section {
  border-bottom: #1a1a1d 5px solid;
  padding-bottom: 3rem;
}

.example-box {
  margin: 1.5rem 2.5rem;
  padding: 0.5rem;
  border: #e6e6e6 2px solid;
}

.code-example {
  max-width: 100%;
  max-height: 800px;
  margin: 1rem 4rem;
  margin-bottom: 4rem;
}
/* End of Alert Section Design */

/* Avatar Section Design */
.example-box .avatar {
  display: inline;
}

.example-box.no-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.div.example-box:nth-child(6) {
  display: flex;
  flex-flow: row wrap;
}
/* End of Avatar Section Design */

/* Lists Section Design */
#list-section .example-box {
  padding: 1rem;
}

#list-section ul, #list-section ol {
  margin: 0.7rem 1.5rem;
}
/* End of Lists Section Design */